# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projects\lambai\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/copy/
*.pyc
*.idea*
*data*
*checkpoints*
.idea/lambai.iml
*save*
*lswmae*
*lsxmae*
*lsmse*
*.sum*
*gather.txt*
*.zip*
*tests
*logs
*.npz
*.png
*.npy
*.sh
*.bat
test
/ditto/
